{% extends 'base.html' %}
{% load static %}

{% block title %}E-License{% endblock %}

{% block head %}
	<style type="text/css">
		html, body {
			/* height: 100%; */
			background-color: lightgray;
		}
		.navbar-brand{
			color: black !important;
		}
		a:hover {
			text-decoration: none;
			color: #9457eb;
			cursor: pointer;
		}
		.navbar{
			background-color: #fff !important;
			top: 0px !important;
			height: 70px !important;
		}
		.nav-link{
			color: black !important;
		}
	</style>
{% endblock %}

{% block content %}
<div class="content-wrapper" style="margin-top: 5%;">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="row">
				<div class="col-12 col-md-3">
					<div class="card p-5 mx-0 text-center" style="clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%);">
						<h4 class="text-danger">Step 1</h4>
						<p class="mb-2 font-italic">Select an E-License, Fill the details and Upload Documents</p>
					</div>
				</div>
				<div class="col-12 col-md-3">
					<div class="card p-5 mx-0 text-center" style="clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%, 20% 50%); padding-left: 4rem;">
						<h4 class="text-secondary">Step 2</h4>
						<p class="mb-2 font-italic">Verify the Documents and Submit the Application</p>
					</div>
				</div>
				<div class="col-12 col-md-3">
					<div class="card p-5 mx-0 text-center" style="clip-path: polygon(0% 0%, 80% 0%, 100% 50%, 80% 100%, 0% 100%, 20% 50%); padding-left: 5rem;">
						<h4 class="text-primary">Step 3</h4>
						<p class="mb-2 font-italic">Visit Dashboard to check Application Approval Status</p>
					</div>
				</div>
				<div class="col-12 col-md-3">
					<div class="card p-5 mx-0 text-center" style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 20% 50%); padding-left: 4rem;">
						<h4 class="text-success">Step 4</h4>
						<p class="mb-2 font-italic">Download E-License from Dashboard after Approval</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{% if user.is_authenticated %}
		<div class="row mt-5">
			<div class="col-8 offset-2">
				<div class="row text-center">
					<div class="col-12 col-md-4 p-3">
						<h5>
							<a href="pharmacy" class="card p-5 d-block shadow-lg">
								<i class="fas fa-prescription-bottle-alt"></i> Pharmacy License
							</a>
						</h5>
					</div>
					<div class="col-12 col-md-4 p-3">
						<h5>
							<a href="epass" class="card p-5 d-block shadow-lg">
								<i class="fas fa-virus"></i> Covid E-Pass
							</a>
						</h5>
					</div>
					<div class="col-12 col-md-4 p-3">
						<h5>
							<a href="ration" class="card p-5 d-block shadow-lg">
								<i class="fas fa-file-invoice"></i> Ration Card
							</a>
						</h5>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-12 col-md-4 p-3">
						<h5>
							<a href="travel" class="card p-5 d-block shadow-lg">
								<i class="fas fa-route"></i> Travel Agency License
							</a>
						</h5>
					</div>
					<div class="col-12 col-md-4 p-3">
						<h5>
							<a href="hotel" class="card p-5 d-block shadow-lg">
								<i class="fas fa-hotel"></i> Hotel License
							</a>
						</h5>
					</div>
					<div class="col-12 col-md-4 p-3">
						<h5>
							<a href="rally" class="card p-5 d-block shadow-lg">
								<i class="fas fa-users"></i> Rally License
							</a>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}
